html, body {
  height: 100%;
}

.btn-teal {
  color: #fff;
  background-color: #64a19d;
  border-color: #64a19d;
}

.btn-teal:hover {
  color: #fff;
  background-color: #548b87;
  border-color: #4f837f;
}

.btn-teal:focus, .btn-teal.focus {
  color: #fff;
  background-color: #548b87;
  border-color: #4f837f;
  box-shadow: 0 0 0 0.2rem rgba(123, 175, 172, 0.5);
}

.btn-teal.disabled, .btn-teal:disabled {
  color: #fff;
  background-color: #64a19d;
  border-color: #64a19d;
}

.btn-teal:not(:disabled):not(.disabled):active, .btn-teal:not(:disabled):not(.disabled).active, .show > .btn-teal.dropdown-toggle {
  color: #fff;
  background-color: #4f837f;
  border-color: #4a7b78;
}

.btn-teal:not(:disabled):not(.disabled):active:focus, .btn-teal:not(:disabled):not(.disabled).active:focus, .show > .btn-teal.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(123, 175, 172, 0.5);
}

/*************************************  Navbar  */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: height .5s ease, background-color .5s ease;
  background-color: #fff;
  z-index: 1000;
}

.nav-link.active {
  font-size: 1.1rem;
  color: #63A19D !important;
}

.nav-link.active:before {
  content: '\2022';
}

@media (max-width: 576px) {
  .navbar {
    min-height: 4rem;
  }
}

@media (min-width: 576px) {
  .navbar {
    min-height: 4rem;
  }
}

@media (min-width: 992px) {
  .navbar {
    height: 5rem;
    min-height: 3rem;
    background-color: transparent;
  }

  .navbar .container,
  .navbar .navbar-collapse,
  .navbar .navbar-nav,
  .navbar .nav-link {
    height: 100%;
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid transparent;
  }

  .navbar-nav .nav-item:not(:last-child) {
    margin-right: 2px;
  }

  .nav-link.active {
    border-bottom: 4px solid #63A19D;
  }

  .nav-link.active:before {
    content: '';
  }

}

/*************************************  /Navbar  */
/*************************************  Header  */
header {
  background-size: cover;
  background-position: center;
}

header h1 {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, #e3e3e3 0%, #8e8e8e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header button {
  background: #548B88;
}

header .content {
  background-color: #00000070;
}

@media (max-width: 576px) {
  header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 6.5rem;
    letter-spacing: .8rem;
  }

  header p {
    max-width: 20rem;
    color: #373737;
  }
}

@media (min-width: 576px) {
  header h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 5rem;
    letter-spacing: .7rem;
  }

  header p {
    max-width: 25rem;
    color: #373737;
  }
}

@media (min-width: 992px) {
  header h1 {
    font-size: 6.5rem;
    font-weight: 300;
    line-height: 6.5rem;
    letter-spacing: .8rem;
  }

  header p {
    max-width: 30rem;
    color: #B5B5B5;
  }
}

/*************************************  /Header  */
/*************************************  About  */
section.about {
  background: linear-gradient(to bottom, #000000, #313131);
  position: relative;
}

section.about .content a {
  color: #548B88;
  text-decoration: none;
}

section.about .content a:hover {
  text-decoration: underline;
}

section.about .ipad {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

@media (max-width: 576px) {
  section.about {
    height: calc(100% - 4rem);
  }

  section.about .content {
    padding: 1rem;
  }

  section.about .content h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
  }

  section.about .content p {
    text-align: center;
    max-width: 80%;
  }

  section.about .ipad {
    width: 100%;
  }
}

@media (min-width: 576px) {
  section.about {
    height: calc(100% - 4rem);
  }

  section.about .content {
    padding: 3rem;
  }

  section.about .content h2 {
    color: white;
    font-size: 2.2rem;
    font-weight: 400;
  }

  section.about .content p {
    text-align: center;
    max-width: 80%;
  }

  section.about .ipad {
    width: 90%;
  }
}

@media (min-width: 992px) {
  section.about {
    height: calc(100% - 3rem);
  }

  section.about .content {
    padding: 3rem;
  }

  section.about .content h2 {
    color: white;
    font-size: 2.2rem;
    font-weight: 400;
  }

  section.about .content p {
    text-align: center;
    max-width: 45%;
    margin-bottom: 7rem !important;
  }

  section.about .ipad {
    width: 65%;
  }
}

/*************************************  /About  */
/*************************************  Projects  */
.projects .single-project-container .project-content {
  border-left: 8px solid #548B88;
}

.projects .single-project-container .project-content h3 {
  font-weight: 400;
}

.projects .single-project-container .project-content p {
  font-weight: 300;
}

.projects .single-project-container .project-image img,
.projects .group-projects-container .project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects .group-projects-container .project-content {
  line-height: 1.4;
}

.projects .group-projects-container .project-content h3 {
  font-weight: 400;
  font-size: 1.6rem;
}

.projects .group-projects-container .project-content p {
  font-weight: 300;
}

.projects .group-projects-container .project-content .line {
  width: 25%;
  height: 0;
  border: 2px solid #548B88;
}

@media (max-width: 576px) {
  .projects {
    min-height: calc(100vh - 4rem);
  }

  .projects .single-project-container .project-image {
    height: 15rem;
  }

  .projects .group-projects-container .project-image,
  .projects .group-projects-container .project-content {
    height: 15rem;
    background-color: #000000;
  }
}

@media (min-width: 576px) {
  .projects {
    min-height: calc(100vh - 4rem);
  }

  .projects .single-project-container .project-image {
    height: 15rem;
  }

  .projects .group-projects-container .project-image,
  .projects .group-projects-container .project-content {
    height: 15rem;
    background-color: #000000;
  }
}

@media (min-width: 992px) {
  .projects {
    min-height: calc(100vh - 3rem);
  }

  .projects .single-project-container .project-image {
    height: 30rem;
  }

  .projects .group-projects-container .project-image,
  .projects .group-projects-container .project-content {
    height: 18rem;
    background-color: #000000;
  }
}

/*************************************  /Projects  */
/*************************************  Contact Us  */
.contact .subscribe {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url(../assets/img/bg-signup.jpg);
  background-position: center center;
  background-size: cover;
  color: #FAFAFA;
}


@media (max-width: 576px) {
  .contact .subscribe {
    height: 15rem;
  }

  .subscribe .email-box input {
    padding: .75rem;
  }
}

@media (min-width: 576px) {
  .contact .subscribe {
    height: 20rem;
  }

  .subscribe .email-box input,
  .subscribe .email-box button {
    padding: .5rem;
  }

  .subscribe .email-box button {
    font-size: .9rem;
  }
}

@media (min-width: 992px) {
  .contact .subscribe {
    height: 30rem;
  }

  .subscribe h3 {
    font-size: 2rem;
  }

  .contact .email-box {
    width: 40rem;
    margin-top: 1rem;
  }

  .subscribe .email-box input,
  .subscribe .email-box button {
    padding: .75rem;
  }
}

/*************************************  /Contact Us  */